@(cid: List[ProductReport] , log:String   )

@import models.ReviewData

@main(title = "testing") {


   <table border='1'>
     <tr>
       <th>Product_id</th>
       <th>Total count</th>
       <th>Rating Summary </th>
    </tr>
    @cid.map { c =>
      <tr>
         <td>@c.name</td>
         <td align='right'>@c.total</td>
         <td>
             @c.rating.map { r => 
               @r.name:@r.count   &nbsp &nbsp
             }

          </td>
      </tr>
    }
   </table>


  @log
    
}
